<div id = "main">
  <h2><%= @artist.name %></h2>

  <div class = "artists">
    <p><img src="<%= @artist.photo_url %>" alt="Photo of <%= @artist.name %>"></p>
    <p><strong>Nationality</strong>: <%= @artist.nationality %>

    <div class = "artist_songs">
      <p><strong>Songs:</strong></p>
      <ul>
        <% @songs.each do |song|%>
        <li><%= song.title %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <a href="/artists/<%= @artist.id %>/edit"><div class = "edit_artist">Edit / Delete
  </div></a>

</div>
